@using DigitalCampusMap.ViewModels
@model ContactFormModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Contact Us</h2>
    <form asp-action="SubmitContactForm" method="post" class="needs-validation" novalidate>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Subject" class="form-label">Subject</label>
                    <input asp-for="Subject" class="form-control" placeholder="Enter subject" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="4" placeholder="Describe your query"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


